<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="lib/vue.js"></script>
</head>
<body>
    <div id="app">
        <ul>
            <p>Array</p>
            <li v-for="pet in pets">
                {{pet}}
            </li>
            <hr>
            <p>Array</p>
            <li v-for="(pet, index) in pets">
                {{index+1}}. {{pet}}
            </li>
            <hr>
            <p>Object</p>           
            <li v-for="(value, key, index) of foods">
                {{index+1}}. {{key}} : {{value}}
            </li>
        </ul>
        <hr>
        <table border="1">
            <td>image</td>
            <td>No.</td>
            <td>id</td>
            <td>Nama Barang</td>
            <td>Deskripsi</td>
            <td>Netto</td>
            <td>Harga</td>
            <tr v-for="(drink, index) of drinks" :key="index">
                <td>
                    <img width=60 height=60 :src="'img/'+drink.img" >
                </td>
                <td>{{index+1}}. </td>
                <td>{{drink.id}}</td>
                <td>{{drink.name}}</td>
                <td>{{drink.description}}</td>
                <td>{{drink.netto}}</td>
                <td>Rp{{drink.price}},-</td>
            </tr>
        </table>
        <hr><hr>
        <table border="1">
            <td>image</td>
            <td>No.</td>
            <td>id</td>
            <td>Nama Barang</td>
            <td>Deskripsi</td>
            <td>Netto</td>
            <td>Harga</td>
            <tr v-for="(drink, index) of drinks" :key="index" v-if="drink.price<=6000">
                <td>
                    <img width=60 height=60 :src="'img/'+drink.img" >
                </td>
                <td>{{index+1}}. </td>
                <td>{{drink.id}}</td>
                <td>{{drink.name}}</td>
                <td>{{drink.description}}</td>
                <td>{{drink.netto}}</td>
                <td>Rp{{drink.price}},-</td>
            </tr>
        </table>
    </div>
    <script>
        var vm = new Vue ({
            el:'#app',
            data: {
                pets : [
                    'Cat',
                    'Dog',
                    'Bird',
                    'Owl',
                    'Snake'
                ],
                foods : {
                    id : 1,
                    name : 'Chitos',
                    description : 'snacks with micin',
                    netto : '100gr',
                    price : 5000
                },
                drinks : [
                    {
                        id : 0011,
                        name : 'ultramilk',
                        description : "Milk it's like white water",
                        netto : '100ml',
                        price : 5000,
                        img : 'kahoot.jpg'
                    },
                    {
                        id : 0012,
                        name : 'Hilo',
                        description : "Milk it's like white water",
                        netto : '300ml',
                        price : 9000,
                        img : 'kahoot.jpg'
                    },
                    {
                        id : 0013,
                        name : 'Biskuat',
                        description : "Milk like milk",
                        netto : '200ml',
                        price : 2000,
                        img : 'kahoot.jpg'
                    },
                    {
                        id : 0014,
                        name : 'Chocolatos',
                        description : "Chocolate",
                        netto : '100ml',
                        price : 4000,
                        img : 'kahoot.jpg'
                    }

                ] 
            }
        })
    </script>
</body>
</html>